[user]
	email = prayagsavsani@gmail.com
	name = PrayagS
    signingKey = 594301D8AE7C85C8

[core]
    editor = $EDITOR --cmd 'set colorcolumn=72'
    preloadindex = true

[github]
    user = PrayagS

[init]
    defaultBranch = main

[commit]
    gpgSign = true

[color]
    ui     = true
    diff   = true
    interative = true
    status = true

[branch]
	sort = -committerdate

[push]
	default = current

[grep]
	lineNumber = true

[url "git@github.com:"]
	insteadOf = ssh:

[url "https://github.com/"]
	insteadOf = nossh:

[status]
	submoduleSummary = true

[help]
	autocorrect = 10
