[user]
name = "PrayagS"

[[--scope]]
--when.repositories = ["~/dev"]
[--scope.user]
email = "prayagsavsani@gmail.com"

[[--scope]]
--when.repositories = ["~/work"]
[--scope.user]
email = "prayag.savsani@blinkit.com"

[ui]
default-command = "log"
diff-instructions = false
diff-formatter = "delta"
diff-editor = "hunk-nvim"
show-cryptographic-signatures = true

[merge-tools.diffconflicts]
program = "nvim"
merge-args = [
    "-c", "let g:jj_diffconflicts_marker_length=$marker_length",
    "-c", "JJDiffConflicts", "$output",
]
merge-tool-edits-conflict-markers = true

[merge-tools.hunk-nvim]
program = "nvim"
edit-args = [
  "--cmd",
  "let g:auto_session_enabled = v:false",
  "-c",
  "DiffEditor $left $right $output"
]

[[--scope]]
--when.commands = ["status"]
[--scope.ui]
paginate = "never"

[[--scope]]
--when.commands = ["diff", "show"]
[--scope.ui]
pager = "delta"

[git]
sign-on-push = true
fetch = ["origin", "glob:upstream*"]
abandon-unreachable-commits = true

[remotes.origin]
auto-track-bookmarks = "glob:prayagmatic/*"
auto-track-created-bookmarks = "*"

[signing]
behavior = "own"
backend = "ssh"
key = "~/.ssh/id_ed25519.pub"

[snapshot]
max-new-file-size = 52428800
auto-track = '~prefix-glob:".beans" | ~file:".netrc"'

[aliases]
tug = ["bookmark", "move", "--from", "heads(::@- & bookmarks())", "--to", "@-"]

[templates]
draft_commit_description = '''
concat(
  description,
  if(
    !description.contains("Signed-off-by: " ++ author.name()),
    "\n\nSigned-off-by: " ++ author.name() ++ " <" ++ author.email() ++ ">\n",
  ),
  surround(
    "\nJJ: This commit contains the following changes:\n", "",
    indent("JJ:     ", diff.summary()),
  ),
  "\nJJ: ignore-rest\n",
  diff.git(),
)
'''
git_push_bookmark = '"prayagmatic/jj-push-" ++ change_id.short()'
